@mixin form-element {
  background-color: $color-white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: $border-radius;
  border: none;
  height: 33px;
  width: 100%;
  display: block;
  padding: 8px 10px;
  font-weight: 700;

  &:focus,
  &:hover {
    outline: none;
  }
}

.form-control {
  @include form-element;

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
    font-size: 14px;
  }
}

.form-select {
  @include form-element;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url("/icons/arrow_down.svg") no-repeat right 10px center;
}
