@mixin form-element {
  background-color: $color-white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: $border-radius;
  border: none;
  height: 33px;
  width: 100%;
  display: block;
  padding: 8px 10px;
  font-weight: 600;

  &:focus,
  &:hover {
    outline: none;
  }
}

.autocomplete-input {
  background: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) !important;
}

.autocomplete-input,
input[type="password"],
input[type="text"],
.form-control {
  @include form-element;

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
    font-size: 14px;
  }
}

.form-textarea {
  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
    font-size: 14px;
  }
}

.form-select {
  @include form-element;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: #fff url("/icons/arrow_down.svg") no-repeat right 15px center;
  padding-right: 50px;
}

.form-textarea {
  @include form-element;
  min-height: 120px;
  resize: none;
  font-weight: 500;
}
