.group {
  &__title {
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__content {
    display: flex;
  }

  &__item {
    margin-right: 10px;
  }

  &__content {
    & + * {
      margin-top: 10px;
    }
  }

  &__footer {
    display: flex;
  }
}
