.vm--modal {
  &__inner {
    padding: 20px;
  }

  &__title {
    background-color: $color-gray-secondary;
    min-height: 56px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 60px;
    font-size: 18px;
    font-weight: bold;
    position: relative;

    .close-icon {
      position: absolute;
      top: 50%;
      right: 20px;
      cursor: pointer;
      transform: translateY(-50%);
    }
  }

  &__buttons {
    display: flex;

    button {
      width: 230px;
      height: 37px;

      & + * {
        margin-left: 10px;
      }
    }
  }
}
