.sidebar {
  background-color: $color-white;
  max-width: 202px;
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  overflow: hidden;
  transition: width 0.2s ease-in-out;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__logo {
    margin-bottom: 6px;
    margin-top: 20px;
  }

  &__toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 54px;
    width: 182px;
    position: relative;

    &::after,
    &::before {
      content: "";
      height: 2px;
      width: 100%;
      display: block;
      background-color: $color-gray;
      border-radius: $border-radius;
      position: absolute;
      transition: width 0.2s;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }

    .btn {
      width: 144px;
      height: 30px;
    }
  }

  &--collapse {
    max-width: 88px;
    width: 100%;

    .sidebar__toggle {
      width: 68px;

      .btn {
        width: 30px;
        height: 30px;
      }
    }

    .menu__title {
      transition-delay: 0s;
    }
    .menu__icon {
      min-width: 46px;
      height: 45px;
    }
  }

  .__bar-is-vertical {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    width: 5px !important;
    right: -4px !important;
  }
}
