.sidebar {
  background-color: $color-white;
  width: 202px;
  height: 100%;
  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  overflow: hidden;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__logo {
    margin-bottom: 6px;
    margin-top: 20px;
  }

  &__toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 54px;
    width: 182px;
    position: relative;

    &::after,
    &::before {
      content: "";
      height: 2px;
      width: 100%;
      display: block;
      background-color: $color-gray;
      border-radius: $border-radius;
      position: absolute;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }

    .btn {
      width: 144px;
      height: 30px;
    }
  }

  &--collapse {
    width: 88px;

    .sidebar__toggle {
      width: 68px;

      .btn {
        width: 30px;
        height: 30px;
      }
    }
  }
}
