.table {
  width: 100%;
  overflow-x: scroll;
  position: relative;

  &--separate {
    border-collapse: separate;
    border-spacing: 0 10px;
    top: -20px;

    .thead__top {
      position: relative;
      top: 10px;
    }
  }

  td {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 250px;
  }

  .bg {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  td:first-child {
    min-width: 50px;
  }

  td:not(:last-child) {
    padding-right: 20px;
  }

  &__title {
    font-size: 16px;
    font-weight: 700;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background-color: $color-gray;
      border-radius: $border-radius;
      height: 2px;
      width: 100%;
      left: 0;
      bottom: -12px;
    }
  }

  .thead {
    background-color: $color-white;

    td {
      font-size: 12px;
      font-weight: 700;
      padding-top: 10px;
      padding-bottom: 10px;

      &:first-child {
        padding-left: 10px;
      }
      &:last-child {
        padding-right: 10px;
      }
    }

    &__bottom {
      position: relative;

      td {
        text-align: center;
      }
    }
  }

  tbody {
    td {
      background-color: $color-white;
      font-weight: 700;
      height: 48px;

      &.inner {
        background-color: #f6f6f6;
      }

      &:first-child {
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
        padding-left: 15px;
      }

      &:last-child {
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        padding-right: 15px;
      }
    }

    tr {
      border-radius: $border-radius;

      &.shadow {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      }

      &.gray {
        td {
          background-color: #f6f6f6;
        }
      }
    }
  }

  &__actions {
    display: flex;
    justify-content: end;
  }

  &__icon {
    position: relative;

    & * {
      cursor: pointer;
    }

    & + .table__icon {
      margin-left: 25px;
      position: relative;
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: -50%;
        transform: translateY(-50%);
        height: 38px;
        width: 2px;
        background-color: #f6f6f6;
      }
    }
  }

  &__hidden-icon {
    width: 24px;
    height: 24px;
  }
}

.thead {
  &__top {
    height: 46px;
    position: relative;

    &::after {
      content: "";
      height: 2px;
      border-radius: $border-radius;
      background-color: $color-gray;
      position: absolute;
      bottom: 0;
      width: 100%;
      z-index: 100;
    }

    td:first-child {
      border-top-left-radius: $border-radius;
    }
    td:last-child {
      border-top-right-radius: $border-radius;
    }
  }

  &__bottom {
    td:first-child {
      border-bottom-left-radius: $border-radius;
    }
    td:last-child {
      border-bottom-right-radius: $border-radius;
    }
  }
}

.table-inner {
  padding-top: 14px;
  padding-bottom: 14px;

  &__title {
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 10px;
    margin-top: 1px;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background-color: $color-white;
      border-radius: $border-radius;
      width: 100%;
    }
  }

  &__description {
    margin-bottom: 10px;
  }

  &__close {
    position: absolute;
    right: 0;
    top: 7px;
    cursor: pointer;
    transform: translateY(-50%);
  }

  &__actions {
    .btn {
      height: 37px;
      width: 230px;
      font-size: 16px;
    }
  }
}

.description {
  &__title {
    font-weight: 700;
  }

  &__content {
    font-weight: 500;
  }
}
