@media (max-width: 767px) {
  .mobile-header {
    display: block;
  }
  .page {
  }
  .footer,
  .filter,
  .sidebar {
    display: none;
  }
  .page__body {
    display: block;
  }
  .main {
    margin-top: 70px;
  }
  .table {
    overflow-x: scroll;
  }
}

@media (max-width: 1440px) {
  .scroll-container,
  .scroll-horizontal {
    overflow-x: scroll !important;
  }
  .page-header {
    max-width: 1420px !important;
    padding-right: 0 !important;
  }
  .page__right--fluid,
  .page__body--fluid {
    .content {
      max-width: 1310px !important;
    }
    .scroll-horizontal {
      max-width: 1310px !important;
    }
  }
  .page__right--fluid {
    max-width: 1310px !important;
  }
  .page__right--full {
    max-width: 1196px !important;
  }
}
