@media (max-width: 767px) {
  .page {
    padding: 0;
  }
  .footer,
  .filter,
  .sidebar {
    display: none;
  }
  .page__body {
    display: block;
  }
  .main {
    padding: 20px;
  }
  .table {
    overflow-x: scroll;
  }
}
