@media (max-width: 767px) {
  .mobile-header {
    display: block;
  }
  .page {
  }
  .footer,
  .filter,
  .sidebar {
    display: none;
  }
  .page__body {
    display: block;
  }
  .main {
    margin-top: 70px;
  }
  .table {
    overflow-x: scroll;
  }
}
