$color-white: #fff;
$color-black: #000;
$color-gray: #eee;
$color-gray-light: #adb0b3;
$color-gray-secondary: #f6f6f6;
$color-red: #db1f35;
$color-green-dark: #13753a;
$color-blue: #003ad2;
$color-orange: #fb3;
$color-blue-delos: #1699c3;
$color-sapphire: #1f4173;
$color-blue-light: #e7ecfb;
$color-green: #16c35b;
$color-green-light: #ecf9ef;
$color-viking: #78c2dd;

$border-radius: 5px;
