$color-white: #fff;
$color-black: #000;
$color-gray: #eee;
$color-red: #db1f35;
$color-blue: #003ad2;
$color-sapphire: #1f4173;
$color-blue-light: #e7ecfb;
$color-green: #16c35b;
$color-green-light: #ecf9ef;
$color-viking: #78c2dd;

$border-radius: 5px;
