@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

@import "variables";
@import "mixins/index";
@import "components/index";

html,
body,
#app {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: $color-black;
  text-decoration: none;

  &:focus,
  &:active {
    outline: none;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main {
  flex: 1;
  padding-bottom: 50px;
  overflow: hidden;
}

.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.justify-content-between {
  justify-content: space-between;
}
.flex-1 {
  flex: 1;
}

.wrapper {
  display: flex;
}

.page {
  box-sizing: border-box;
  max-width: 1417px;

  &__body {
    margin-top: 90px;
    padding-left: 20px;
    padding-right: 20px;
    width: 1703px;

    &--fluid {
      width: 1704px;
    }
  }

  &__buttons {
    display: flex;
    margin-left: 35px;

    .btn {
      width: 250px;

      & + .btn {
        margin-left: 20px;
      }
    }
  }

  .page__right:not(.page__right--full):not(.page__right--middle):not(.page__right--fluid) {
    .list:not(.sub-list) {
      width: 1307px;
    }
  }

  &__right {
    flex: 1;

    .list {
    }

    &--full {
      .pagination,
      .list {
        width: 1591px;
      }
    }

    &--fluid {
      .pagination,
      .list:not(.sub-list) {
        width: 1704px;
      }
    }

    &--middle {
      .pagination,
      .list {
        width: 1525px;
      }
    }
  }

  &__icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    color: $color-black;
  }
}

.text {
  &--blue {
    color: $color-blue;
  }
  &--green {
    color: $color-green;
  }
  &--sapphire {
    color: $color-sapphire;
  }
  &--red {
    color: $color-red;
  }
  &--green-dark {
    color: $color-green-dark;
  }
  &--blue-delos {
    color: $color-blue-delos;
  }
  &--gray-light {
    color: $color-gray-light;
  }
  &--orange {
    color: $color-orange;
  }
  &--underline {
    text-decoration: underline;
  }
  &--bold-600 {
    font-weight: 600;
  }
  &--bold-700 {
    font-weight: 700;
  }
}

.bg {
  border-radius: $border-radius;
  text-align: center;
  padding: 8px;

  &--blue-light {
    background-color: $color-blue-light;
    color: $color-blue;
  }
  &--green-light {
    background-color: $color-green-light;
    color: $color-green;
  }
}

.vue-custom-tooltip[role="tooltip"] {
  text-decoration: underline !important;

  &:after {
    box-shadow: none !important;
    text-align: left !important;
  }
}

.scroll-horizontal {
  padding-left: 4px;
  //overflow-x: scroll;
}

.vdpr-datepicker {
  width: 100%;
}

.page__right {
  .scroll-horizontal {
    //overflow-x: auto;
    //width: 1394px;
  }
}

.page__right--middle {
  .pagination,
  .list {
    width: 1417px;
  }
}
.page__right--fluid {
  .scroll-horizontal {
    //overflow-x: auto;
    width: 1704px;
  }
}
.page__right--full {
  .scroll-horizontal {
    //overflow-x: auto;
    //width: 1677px;
  }
}

.table__icon {
  span[role="tooltip"] {
    &:after {
      background-color: $color-black;
      color: $color-white;
      border-radius: $border-radius;
    }
  }
}

.list__row--opened {
  .table__icon::before {
    background-color: $color-white;
  }
}

.Vue-Toastification__toast {
  display: flex;
  align-items: center;
}

.autocomplete-result-list {
  li {
    background: none;
    cursor: pointer;
    padding-left: 10px;

    &:hover {
      background-color: $color-gray-secondary;
    }
  }
}

@import "media";
