@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

@import "variables";
@import "mixins/index";
@import "components/index";

html,
body,
#app {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: $color-black;
  text-decoration: none;

  &:focus,
  &:active {
    outline: none;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main {
  flex: 1;
  padding-bottom: 50px;
  overflow: hidden;
}

.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.justify-content-between {
  justify-content: space-between;
}
.flex-1 {
  flex: 1;
}

.wrapper {
  display: flex;
}

.page {
  box-sizing: border-box;

  &__header {
    align-items: center;
    background-color: $color-gray;
    display: flex;
    margin-bottom: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 980;
    padding: 20px 20px 10px;
  }

  &__body {
    margin-top: 90px;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__buttons {
    display: flex;
    margin-left: 20px;

    .btn {
      width: 250px;

      & + .btn {
        margin-left: 20px;
      }
    }
  }

  &__left {
    margin-right: 16px;
  }

  &__right {
    flex: 1;
    overflow: hidden;
    max-width: 1417px;
  }

  &__icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    color: $color-black;
  }
}

.text {
  &--blue {
    color: $color-blue;
  }
  &--green {
    color: $color-green;
  }
  &--sapphire {
    color: $color-sapphire;
  }
  &--red {
    color: $color-red;
  }
  &--green-dark {
    color: $color-green-dark;
  }
  &--blue-delos {
    color: $color-blue-delos;
  }
  &--gray-light {
    color: $color-gray-light;
  }
  &--orange {
    color: $color-orange;
  }
  &--underline {
    text-decoration: underline;
  }
  &--bold-600 {
    font-weight: 600;
  }
  &--bold-700 {
    font-weight: 700;
  }
}

.bg {
  border-radius: $border-radius;
  text-align: center;
  padding: 8px;

  &--blue-light {
    background-color: $color-blue-light;
    color: $color-blue;
  }
  &--green-light {
    background-color: $color-green-light;
    color: $color-green;
  }
}

.vue-custom-tooltip[role="tooltip"] {
  text-decoration: underline !important;

  &:after {
    box-shadow: none !important;
    text-align: left !important;
  }
}

.scroll-horizontal {
  padding-left: 4px;
  overflow-x: scroll;
}

.vdpr-datepicker {
  width: 100%;
}

@import "media";
